<% expediente.pdf_file_name ? tit = "Editar matriculacion" : tit = "add_matricula_PDF" %>
<% provide :title, t( tit ) %>

<div class="about_page">
  <%= render 'shared/section_wrapper',
      header_text: t( tit ),
      index_link: 'expedientes',
      linked_pdf: nil %>

  <div class="row">
    <div class="span6 offset4">
      <%= render 'form' %>
    </div>
  </div>
</div>