<% provide :title, t("Listado de Expedientes", type: expediente.type.pluralize) %>

<%= render 'shared/avisos', avisos: avisos %>

<div class="about_page vista_tabla">
  <%= render 'shared/section_wrapper',
      header_text: expediente.type.pluralize,
      linked_pdf: nil,
      search: 'expedientes',
      reload: expediente.type,
      legend: expediente.type %>

  <% paginate expedientes %>

  <div class="row">
    <%= render 'table_index', expedientes: expedientes %>
  </div>

</div>