<% provide :title, t("Listado de Expedientes", type: expediente.type.pluralize) %>

<div class="about_page">
  <%= section_header expediente.type.pluralize %>
  <div class="row">
    <%= render 'table_index', expedientes: expedientes %>
  </div>
</div>