<% provide :title, t("Brandname") %>

<ul>
  <li><%= link_to t("Expedientes"), expedientes_path %></li>
  <li><%= link_to t("Justificantes"), justificantes_path %></li>
  <li><%= link_to t("Informes"), informe_traficos_path %></li>
</ul>