<% provide :title, t("Welcome") %>

<ul>
  <li><%= link_to t("Matriculacion(VN)"), matriculaciones_path %></li>
  <li><%= link_to t("Transferencia(VO)"), transferencias_path %></li>
  <li><%= link_to t("Solicitud Justificantes"), justificantes_path %></li>
  <li><%= link_to t("Solicitud Informes"), informe_traficos_path %></li>
</ul>