<% provide :title, t("Welcome") %>

<ul>
  <li><%= link_to t("Matriculacion(VN)"), online_matriculaciones_path %></li>
  <li><%= link_to t("Transferencia(VO)"), online_transferencias_path %></li>
  <li><%= link_to t("Solicitud Justificantes"), online_justificantes_path %></li>
  <li><%= link_to t("Solicitud Informes"), online_informes_path %></li>
</ul>