<div class="barebones_aviso hide">
  <div class="flash alert alert-info pulled_aviso">
    <button id="" type="button" class="close" title="Close" data-dismiss="alert">&times;</button>
    <h4></h4>
    <div class="contenido"></div>
  </div>
</div>
