<!-- Modal -->
<div id="bastidor_length_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby='bastidor_aviso' aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id='bastidor_aviso'><%= t( "Longitud campo Bastidor" ) %></h3>
  </div>
  <div class="modal-body">
    <p><%= t( "El número de Bastidor debe tener 17 dígitos" ) %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t("Cerrar") %></button>
  </div>
</div>
<!-- end of Modal -->