<!-- Modal -->
<div id="code_mandato_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby='code_mandato_aviso' aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id='code_mandato_aviso'><%= t( "Validacion de mandato" ) %></h3>
  </div>
  <div class="form-validator">
    
  </div>
</div>
<!-- end of Modal -->