<div id="d-policy-disclaimer" class="hide flash alert alert-info">
  <button id="cerrar_cookie_warning" type="button" class="close" title="Close" data-dismiss="alert">&times;</button>
  <%= t("Cookie warning") %>
  <span class="minilink"><%= link_to t("Mas info"), privacidad_path %></span>
</div> 
