<div class="hide" id="d-policy-disclaimer" style="background: #00A5B6;color:#FFFFFF;height: 18px;">
  <div style="margin: 0 auto; width: 919px; font-size:11px">Este sitio utiliza cookies propias y de terceros para an·lisis, contenido personalizado y publicidad. Si contin˙a navegando, consideramos que acepta su uso.
          <span style="float: right;margin-left: 25px;">
               <a id="cerrar" title="Cerrar mensaje" style="color:#FFFFFF;cursor:pointer">Cerrar</a>
            </span>
            <span style="float: right;">
               <a style="color:#FFFFFF;"  title="M·s informaciÛn" href="http://INSERTAR ENLACE POLÕTICA COOKIES">M·s informaciÛn</a>
            </span>
           
     </div>
</div> 
