<div class="container">
    <div class="row">
        <div class="span2 offset5">
            <p><%= Time.now.year %> - <%= t("Brandname") %></p>
        </div>
        <div class="pull-right visible-desktop">
          <%= link_to t("Aviso legal"), legal_path %>
        </div>
    </div>
</div>