<!-- Modal -->
<div id="observaciones_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby='observaciones_aviso' aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id='observaciones_aviso'><%= t( "Observaciones" ) %></h3>
  </div>
  <div class="modal-body">
    <div class="observaciones">
      
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t("Cerrar") %></button>
  </div>
</div>
<!-- end of Modal -->