<% provide :title, t("Crear nuevo Justificante Profesional") %>

<div class="about_page">
  <%= render 'shared/section_wrapper',
      header_text: t("Nuevo justificante"),
      index_link: 'justificantes',
      clock: true,
      linked_pdf: nil %>

  <div class="row">
    <div class="span6s offset4s">
      <%= render 'form' %>
    </div>
  </div>
</div>