.onlyread {
  color: #999;
}

.onlyread .help-block {
  color: #ddd;
}

td.empty, .table-striped tbody > tr:nth-child(odd) > td.empty {
  background-color: #ff0066;
}

.yes {
  color: #0f0;
}

.no {
  color: #f00;
}