<% provide :title, t("Editar Informe Trafico") %>

<div class="about_page">
  <%= render 'shared/section_wrapper',
      header_text: t("Editar informe"),
      index_link: 'informes',
      linked_pdf: informe.pdf_file_name && informe || nil %>

  <div class="row">
    <div class="span6 offset4">
      <%= render 'form' %>
    </div>
  </div>
</div>
