<% provide :title, t("Listado de Informes de Trafico") %>

<div class="about_page vista_tabla">
  
  <%= render 'shared/section_wrapper',
      header_text: t("Informes de trafico"),
      linked_pdf: nil,
      new_link: 'informes',
      search: 'informes' %>

  <div class="row">
    <table id="informes" class="row pull-right table table-bordered table-striped table-condensed informe_traficos top_filtered" data-source="<%= online_informes_url(format: "json") %>" data-csv="<%= online_informes_url(format: "csv") %>?">
      <thead>
        <tr class="filter">
          <th>Cliente</th>
          <th>Matrícula</th>
          <th>Solicitante</th>
          <th>Fecha solicitud</th>
          <th>Estado</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr class="titles">
          <th>Cliente</th>
          <th>Matrícula</th>
          <th>Solicitante</th>
          <th>Fecha solicitud</th>
          <th>Estado</th>
          <th>Documentos</th>
          <th colspan="2" class="centered">Acciones</th>
        </tr>
      </thead>
      <tbody>
          <%= render informes %>
      </tbody>
    </table>

  </div>
</div>

<% # hidden table to serve as a bridge for polled new records to be added to the table %>
<div class="row hidden">
  <table id="temp_table">
    <tbody></tbody>
  </table>
</div>