<% provide :title, t("Crear nuevo Informe de Trafico") %>

<h1><%= t("Nuevo informe") %><span><%= t("solo_5_minutos") %></span></h1>

<p><%= link_to t("Volver al listado"), online_informes_path %></p>

<%= render 'form' %>
