<% provide :title, t("Crear nuevo Informe de Trafico") %>

<div class="about_page">
  <%= render 'shared/section_wrapper',
      header_text: t("Nuevo informe"),
      index_link: 'informes',
      linked_pdf: nil %>

  <div class="row">
    <div class="span6 offset4">
      <%= render 'form' %>
    </div>
  </div>
</div>
