<form class="form-horizontal" method="post" action="/contacto">
                        <div class="control-group">
                                <label class="control-label" for="inputName">Nombre</label>
                                <div class="controls">
                                    <input type="text" class="span4" id="inputName" placeholder="su nombre, por favor">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputEmail">Email</label>
                                <div class="controls">
                                    <input type="text" class="span4" id="inputEmail">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPhone">Teléfono</label>
                                <div class="controls">
                                    <input type="text" class="span4" id="inputPhone">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputCity">Ciudad</label>
                                <div class="controls">
                                    <input type="text" class="span4" id="inputCity">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputComment">Comentario</label>
                                <div class="controls">
                                    <textarea class="span4" id="inputComment" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls action">
                                    <button type="submit" class="btn">Enviar</button>
                                </div>
                            </div>
                        </form>