<div id="contact" class="contact_page">
        <div class="container">
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>Contáctenos</span>
                <hr class="right visible-desktop">
            </h2>

            <div class="row map">
                <div class="span12">
                    <div class="gmaps">
                        <iframe style="width: 100%; height: 100%; border: none;" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Gestor%C3%ADa+Llorens,+Carrer+del+Consell+de+Cent,+Barcelona&amp;aq=0&amp;oq=gestoria+llorens&amp;sll=37.362517,-122.03476&amp;sspn=3.344231,6.685181&amp;g=Silicon+Valley,+United+States&amp;ie=UTF8&amp;hq=Gestor%C3%ADa+Llorens,&amp;hnear=Calle+Consejo+de+Ciento,+Barcelona&amp;ll=41.381553,2.153187&amp;spn=0.024666,0.052228&amp;t=m&amp;z=15&amp;output=embed"></iframe>
                    </div>
                    <h3>
                        Su productividad es nuestra preocupación. Contacte con nosotros y descrubra de qué modo podemos agilizar y facilitar todos los trámites administrativos y fiscales relativos a la matriculación de vehículos.
                    </h3>
                </div>
            </div>

            <div class="row form">
                <div class="span6">
                    <form class="form-horizontal">
                        <div class="control-group">
                                <label class="control-label" for="inputName">Nombre</label>
                                <div class="controls">
                                    <input type="text" class="span4" id="inputName" placeholder="su nombre, por favor">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputEmail">Email</label>
                                <div class="controls">
                                    <input type="text" class="span4" id="inputEmail">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPhone">Teléfono</label>
                                <div class="controls">
                                    <input type="text" class="span4" id="inputPhone">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputCity">Ciudad</label>
                                <div class="controls">
                                    <input type="text" class="span4" id="inputCity">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputComment">Comentario</label>
                                <div class="controls">
                                    <textarea class="span4" id="inputComment" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls action">
                                    <button type="submit" class="btn">Enviar</button>
                                </div>
                            </div>
                        </form>
                </div>
                <div class="span5 offset1">
                    <div class="address">
                        <h3>Dirección</h3>
                        <p>
                            Carrer del Consell de Cent, 130 
                            <br>08015 Barcelona.
                        </p>
                        <div class="info">
                            <i class="contact phone"></i>
                            93.325.42.58
                        </div>
                        <div class="info">
                            <i class="contact email"></i>
                            <%= mail_to 'gestioriallorens@gestoriallorens.com', nil, encode: 'hex' %>
                        </div>
                        <hr>
                        
                    </div>
                </div>
            </div>

        </div>
    </div