<div id="hero">
    <div class="container">
        <!-- starts carousel -->
        <div class="row animated fadeInDown">
            <div class="span12">
                <%= render 'carousel-home' %>
            </div>
        </div>
    </div>
</div>

<div id="intro">
    <div class="container">
        <h1>Matriculaciones, transferencias, inspección técnica de vehículos.</h1>
    </div>
</div>

<div id="somos" class="about_page home_about_page">
  <div class="container">
    <!-- header -->
    <h2 class="section_header">
        <hr class="left visible-desktop">
        <span>Quiénes somos</span>
        <hr class="right visible-desktop">
    </h2>

    <div class="row">
        <div class="span12">
            <h3 class="intro">
                Desde 1967 resolviendo las necesidades de los clientes basados en el asesoramiento, la rigurosidad en la información y la eficacia en los resultados, reflejados en la fidelización del cliente.
            </h3>
        </div>
    </div>

    <!-- description -->
    <div class="row">
        <div class="span6">
            <p>
                Gestoría Llorens nació en 1967, con el objeto de prestar todo tipo de servicios administrativos, ante los Organismos Públicos, para Empresas dedicadas a la venta y comercialización de automóviles nuevos o usados, especialmente de grandes flotas, así como a entidades financieras y Compañías de Renting.<br>
                Gestoría Llorens pretende exponer el alcance de los servicios de gestión administrativa del automóvil, que presenta a empresas del sector, y que trata de cubrir las necesidades de estas, para un mejor desarrollo de su actividad.<br>
                A lo largo de estos años, nuestra empresa se ha consolidado en el mercado automovilístico gracias a la voluntad de desarrollo y preocupación permanente de mejorar y ampliar sus servicios.<br>
                Por todo ello, en la actualidad, nuestra firma cuenta con la confianza de clientes de gran prestigio en el sector.<br>
                Otro objetivo fundamental, es la prestación de servicios basados en el asesoramiento, la
            </p>
        </div>
        <div class="span6">
            <p>
                rigurosidad en la información y la eficiencia en los resultados, reflejados en la fidelización del Cliente.<br>
                Todo ello requiere por el propio estado actual de la tecnología y su incidencia en las relaciones de la Administración con los potenciales Clientes de Gestoría, el necesario perfeccionamiento en los procesos desarrollados. Para conseguir todo ello se realiza una formación continua de todo el personal, un reciclaje tecnológico, una adopción de novedades y una minimización del factor error.<br>
                De la consecución de todos estos objetivos denominados “externos”, deriva una mejora de los objetivos “internos”, por lo que podemos afirmar, que estamos en la línea que corresponde a una Empresa que actúa de forma consecuente correlacionado un servicio personalizado al Cliente, con una no menos cuidada relación con el principal activo de la Empresa, su personal.
            </p>
        </div>
    </div>
  </div>
</div>

<div id="ofrecemos" class="features_page">
  <div class="container">
    <div class="features2">
        <!-- features 2 -->
        <h2 class="section_header">
            <hr class="left visible-desktop">
            <span>Qué ofrecemos</span>
            <hr class="right visible-desktop">
        </h2>

        <div class="row">
            <div class="span12">
                <h3 class="intro">
                    Permanentemente al día en las últimas herramientas tecnológicas, adoptamos todas las novedades necesarias para que nuestros procesos le proporcionen un resultado perfecto.
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="span4 feature2">
                <div class="icon">
                    <i class="secure"></i></div>
                <h4>Departamento de Matriculaciones (V.N.)</h4>
                <p>Contamos con una gran experiencia intentando en cada momento, adaptarnos a las necesidades de nuestros clientes y procurando personalizar el trato diario.</p>
                <ul>
                    <li>Matriculación vehículos [nuevos y usados de importación]</li>
                    <li>Industriales</li>
                    <li>Remolques y semirremolques</li>
                    <li>Ciclomotores y motocicletas</li>
                    <li>Vehículos especiales y agrícolas</li>
                    <li>Históricos</li>
                    <li>Permisos temporales de circulación</li>
                </ul>
            </div>
            <div class="span4 feature2">
                <div class="icon">
                    <i class="cloud"></i></div>
                <h4>Departamento de Transferencias (V.O.)</h4>
                <p>Contamos con un gran equipo el cual únicamente esta destinado al Vehículos de Ocasión, esto representa una gran agilidad en la presentación y gestión de trámites ante Jefatura Provincial de Tráfico y otros organismos. Uno de nuestros compromisos mas importantes es que los cambios de nombres telematicos estarán realizados en un plazo inferior a 1 día hábil.</p>
                <ul>
                    <li>Cambios de titularidad</li>
                    <li>Notificaciones de venta</li>
                    <li>Bajas temporales compra-venta</li>
                    <li>Cambio de matrículas</li>
                </ul>
            </div>
            <div class="span4 feature2">
                <div class="icon">
                    <i class="mobile"></i></div>
                <h4>Cuestiones varias</h4>
                <ul>
                    <li>Permisos de conducir</li>
                    <li>Duplicados</li>
                    <li>Cambios de domicilio</li>
                    <li>Informes de Tráfico</li>
                    <li>Anotaciones de reformas</li>
                    <li>Permiso de prueba y traslado</li>
                    <li>Bajas temporales y definitivas</li>
                    <li>Bajas por exportación</li>
                    <li>Bajas por tránsito comunitario</li>
                    <li>Compulsas documentación y seguro</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span4 feature2">
                <div class="icon">
                    <i class="graph"></i></div>
                <h4>Departamento de Vehículo Industrial</h4>
                <p>Dicho departamento fue con el que se inicio nuestro despacho. El sector del vehículo industria, (Camiones Furgonetas, Autocares, Empresas de transporte de mercaderías de transporte de persona, etc.), cambiante y complejo y el cual nosotros ponemos a su disposición para cualquier consulta.</p>
                <ul>
                    <li>Altas de tarjeta de transportes</li>
                    <li>Renovación tarjetas de transportes</li>
                    <li>Bajas tarjetas de transporte</li>
                    <li>Transmisión tarjeta de transportes</li>
                    <li>Visado de empresa</li>
                    <li>Licencias comunitarias</li>
                    <li>Alta y visado operador de transportes</li>
                    <li>Permisos internacionales</li>
                    <li>Certificados de conductor extracomunitario</li>
                    <li>Tarjetas tacógrafo [conductor y empresa]</li>
                </ul>
            </div>
            <div class="span4 feature2 invisible">
                <div class="icon">
                    <i class="lab"></i></div>
                <h4>Permisos especiales</h4>
                <ul>
                  <li>Dirección General de Tráfico</li>
                  <li>Servei Català de Trànsit</li>
                  <li>Municipales [Barcelona]</li>
                  <li>Ayuntamientos</li>
                  <li>Registro Civil</li>
                  <li>Registro Mercantil</li>
                  <li>Agencia Catalana de Residuos</li>
                </ul>
            </div>
            <div class="span4 feature2">
                <div class="icon">
                    <i class="tools"></i></div>
                <h4>Inspección Técnica de Vehículos</h4>
                <ul>
                  <li>Legalización reformas de importancia</li>
                  <li>Obtención ficha técnica</li>
                  <li>Duplicados de ficha técnica</li>
                  <li>Cambios de servicio [Particular, público, alquiler…]</li>
                  <li>Inspecciones ITV</li>
                  <li>Proyectos técnicos</li>
                  <li>Certificados de características</li>
                  <li>Certificados ATP</li>
                  <li>Certificados ADR</li>
                  <li>Homologación vehículos</li>
                  <li>Vehículos históricos</li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>

<div id="equipo" class="comingsoon_page">
  <div id="comingsoon" class="container">
    <!-- features 3 -->
    <h2 class="section_header">
        <hr class="left visible-desktop">
        <span>Nuestro equipo</span>
        <hr class="right visible-desktop">
    </h2>
    <div class="countdown">
      <div class="row">
        <div class="span6 offset1 left">
          <p>A través del conocimiento de las personas, construimos un equipo humano diverso y motivado, centrado en dar respuesta a las necesidades de nuestros clientes en un contexto económico, social y laboral cada vez más exigente.</p>
          <p>A lo largo de los años en Gestoría Llorens hemos seguido insistiendo en mejorar la eficiencia y los resultados a través del esfuerzo, el compromiso, la diversidad, la ambición, el trabajo en equipo y la innovación. A través del conocimiento de las personas, construimos un equipo humano diverso y motivado, centrado en dar respuesta a las necesidades de nuestros clientes en un contexto económico, social y laboral cada vez más exigente (el XX% de la plantilla está vinculado directamente al negocio con clientes).</p>
        </div>
        <div class="span5 right">
          <div class="figure"><%= image_tag('theme/about.png') %></div>
          <div class="figure"><%= image_tag('theme/about.png') %></div>
        </div>
      </div>
    </div>
  </div>
</div>