<% provide :title, t( "Vehiculos en stock de", cliente: cliente.nombre ) %>

<div class="about_page vista_tabla">

    <%= paginate stock_vehicles %>

    <div>
      <table>
        <thead>
          <tr>
            <th>Matrícula</th>
            <th>En Venta</th>
            <th>Expediente Completo</th>
            <th>Documentación Enviada</th>
            <th>Documentación Recibida</th>
            <th>Envío Documentación Definitiva</th>
            <th>Finalizado</th>
          </tr>
        </thead>
        <tbody><%= render stock_vehicles %></tbody>
      </table>
    </div>

</div>