table {
  margin: 20px 0;
}
table.top_filtered {
  border-top: none;
  border-right: none;
}
table.top_filtered td, table.top_filtered thead tr:last-child th:last-child {
  border-right: 1px solid #ddd;
}
table input, table select {
  width: 80px;
}
tr.filter th {
  padding-bottom: 20px;
}
tr.filter, .filter th {
  border: none;
}
td.large {
  font-size: 8px;
}

header {
  padding: 20px;
  font-size: 2em;
  font-weight: 600;
}