table {
  margin: 20px 0;
}
table.top_filtered {
  border-top: none;
  border-right: none;
}
table.top_filtered td, table.top_filtered thead tr:last-child th:last-child {
  border-right: 1px solid #ddd;
}
table input, table select {
  width: 80px;
}
tr.filter th {
  padding-bottom: 20px;
}
tr.filter, .filter th {
  border: none;
}
td.large {
  font-size: 8px;
}

header {
  padding: 20px;
  font-size: 2em;
  font-weight: 600;
}

.top_nav {
  float: right;
  list-style: none;
}

.with_pdf {
  max-width: 800px;
  margin: auto;
}
.with_pdf h1 {
  text-align: center;
  margin-bottom: 20px;
}
.with_pdf table {
  float: left;
}
.with_pdf tr td:first-child {
  width: 210px;
  font-weight: bold;
}
.with_pdf tr td:last-child {
  text-align: right;
}
iframe.pdf {
  float: right;
  height: 500px;
  width: 400px;
  border: none;
  padding: 0;
  margin: 0;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  padding: 5px;
}

h1 span {
  color: #999;
  font-size: 0.5em;
  font-weight: normal;
  padding-left: 10px;
}


/** THEME **/
.row ul { margin: 0; }
.navbar .nav > li > a.root { color: #08c; }
h3.organizacion { color: #282f39; text-align: right; }