input[type='text'], select {
  height: 30px;
}


.table-wrapper {
  padding: 10px;
background: white;
border: 1px solid #d9d9d9;
border-radius: 20px;
box-shadow: 0 0 5px 2px #e8e8e8;
}
.row table.dataTable {
  margin: 30px 0!important;
}
.table tbody td {
  text-align: center;
  padding: 10px 5px;
  font-size: 14px;
}
table .new {
  color: red;
  display: none;
}
table.top_filtered {
  // border-top: none;
  // border-right: none;
  -webkit-box-shadow: 0 0 5px 2px #e8e8e8;
  -moz-box-shadow: 0 0 5px 2px #e8e8e8;
  box-shadow: 0 0 5px 2px #e8e8e8; 
}
table.top_filtered td, table.top_filtered thead tr:last-child th:last-child {
  // border-right: 1px solid #ddd;
}
table input[type='text'], table select, .dataTables_wrapper input[type='text'] {
  width: 90%;
}
.dataTables_wrapper label {
  text-align: right;
}
.dataTables_wrapper .row-fluid {
  margin-top: 20px;
}
table ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ddd;
}
table :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ddd;
}
table ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ddd;
}
table :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ddd;
}

tr.filter th {
  padding-bottom: 20px;
  vertical-align: middle;
}
tr.titles th {
  padding: 20px;
  border-bottom: 3px solid #87cefa;
}
tr.filter, .filter th {
  // border: none;
}
thead tr.titles {
  // color: #fafafa;
  // background: #6393c1; /* Old browsers */
  // background: -moz-linear-gradient(top,  #6393c1 0%, #0088cc 100%); /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6393c1), color-stop(100%,#0088cc)); /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(top,  #6393c1 0%,#0088cc 100%); /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(top,  #6393c1 0%,#0088cc 100%); /* Opera 11.10+ */
  // background: -ms-linear-gradient(top,  #6393c1 0%,#0088cc 100%); /* IE10+ */
  // background: linear-gradient(to bottom,  #6393c1 0%,#0088cc 100%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6393c1', endColorstr='#0088cc',GradientType=0 ); /* IE6-9 */
  background: white;
  color: #333;
}
td.large {
  font-size: 8px;
}
td.icon {
  min-width: 50px;
}
@media (min-width: 780px) {
  td.icon .icon:hover {
    font-size: 20px;
  }
}
td.icon a span {
  padding: 0 10px;
}
@media (min-width: 780px) {
  .new_record {
    margin-top: -55px;
  }
}

header {
  padding: 20px;
  font-size: 2em;
  font-weight: 600;
}

.top_nav {
  float: right;
  list-style: none;
}

.with_pdf {
  max-width: 800px;
  margin: auto;
}
.with_pdf h1 {
  text-align: center;
  margin-bottom: 20px;
}
.with_pdf table {
  float: left;
}
.with_pdf tr td:first-child {
  width: 210px;
  font-weight: bold;
}
.with_pdf tr td:last-child {
  text-align: right;
}
iframe.pdf {
  float: right;
  height: 500px;
  width: 400px;
  border: none;
  padding: 0;
  margin: 0;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  padding: 5px;
}

h1 span {
  color: #999;
  font-size: 0.5em;
  font-weight: normal;
  padding-left: 10px;
}


/** THEME **/
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
border-color: #08c;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0088cc;
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0088cc;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0088cc;
}
.row ul { margin: 0; }
.navbar .nav > li > a.root { color: #08c; }
.navbar .nav > li > a.admin { color: red; }
h3.organizacion { color: #282f39; text-align: right; }
//sign in form
#box_login .box .social a.face_login span.text {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 480px) {
  #box_login .box .social a.face_login span.text {
    line-height: 1.1em;
  }
}
#box_login .box .form input[type="email"] {
border-color: #DBDBDB #EAEAEA #EAEAEA #DBDBDB;
border-left: 1px solid #DBDBDB;
border-style: solid;
border-width: 1px;
font-size: 16px;
height: 30px;
margin-bottom: 16px;
width: 95%;
}
#box_login .box .form .remember .right a {
  color: #0088cc;
}
// end of sign in form
.features_page ul {
  margin-left: 90px;
  width: 70%;
}
.home_about_page .section_header {
  margin-top: 80px;
}
.about_page .section_wrapper {
  min-height: 80px;
}
.teammate {
  text-align: center;
  a span {
    background-color: white;
    color: #0088cc;
    display: block;
    font-size: 80px;
    margin-top: -110px;
    width: 171px;
    line-height: 174px;
    text-align: center;
    margin: 0 auto;
    border-radius: 100px;
    font-weight: bolder;
    border: 2px solid #bbb;
    margin-top: -10px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #0088cc;
      color: white;
      border-color: #f5f5f5;
    }
    em {
      font-style: normal;
      display: inline-block;
    }
  }
}
.teammate a:hover {
  text-decoration: none;
}
.about_page .teammate p.description {
  width: auto;
}
.comingsoon_page .figure {
  margin-top: 80px;
  margin-left: 30px;
}
// .stitched {
//    padding: 20px;
//    margin: 10px;
//    background: #0088cc;
//    color: #fff;
//    font-size: 21px;
//    font-weight: bold;
//    line-height: 1.3em;
//    border: 2px dashed #fff;
//    border-radius: 10px;
//    box-shadow: 0 0 0 4px #0088cc, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
//    text-shadow: -1px -1px #aa3030;
//    font-weight: normal;
//   border-bottom-left-radius: 3px 3px;
// }
// a.stitched {
//   background: lightblue;
//   box-shadow: 0 0 0 4px lightblue, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
//   text-shadow: none;
// }

.section_wrapper {
  position: relative;
}
.tools {
  position: absolute;
  top: 30%;
  right: 0;
  height: 52px;
}
.tools li {
  display: inline-block;
  list-style: none;
  margin: 5px 2px auto 2px;
}
.tools a {
  display: block;
  padding: 5px;
  height: 35px;
  background: white;
  border: 1px solid #bbb;
  border-radius: 25px;
  -webkit-transition: all 0.2s, ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s, ease-in-out;
  i {
    line-height: 35px;
  }
  &:hover {
    border: 1px solid #08c;
    color: #08c;
    text-decoration: none;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    margin: -5px 0px auto -5px;
    i {
      line-height: 40px;
    }
  }
}
.dataTables_filter {
  display: none;
  margin-top: 20px;
}