body { padding-top: 110px\9; }
.hideie8 { display: none\9; }

li.teammate { list-style: none; }
.download > li { margin-left: 10px\9;}

.section_header hr { width: 32%\9; }
.section_header span { width: 36%\9; }
