<% provide :title, t("Editar Mandato") %>

<div class="about_page">
  <%= render 'shared/section_wrapper',
      header_text: t("Editar mandato"),
      index_link: 'mandatos',
      linked_pdf: mandato.pdf_file_name && mandato || nil %>

  <div class="row">
    <div class="span6s offset4s">
      <%= render 'form' %>
    </div>
  </div>
</div>